*{
    margin: 0;
    padding: 0;
}
.main-container div{
    width: 90px;
    height: 90px;
    border:1px solid#576574;
}
.main-container{
display: grid;
grid-template-columns: repeat(8,1fr);
justify-content: center;
max-width: 722px;
max-height: 700px;
margin: auto;
}
img{
    width: 100%;
}