*{
    margin: 0;
    padding: 0;
}
.main-container div{
    width: 90px;
    height: 90px;
    border:1px solid#576574;
}
.main-container{
display: grid;
grid-template-columns: repeat(8,1fr);
justify-content: center;
max-width: 722px;
max-height: 700px;
margin: auto;
}
img{
    width: 100%;
}
.blackBox{
    background:#2c3e50;
}
.whiteBox{
    background: #bdc3c7;
}
.show-path{
background: rgb(151, 101, 245);
}
